//=========================================================
//  SignIn
//---------------------------------------------------------

.about {
  margin-top: 30px;
  max-width: 800px;

  @include media-query(540) {
    margin-top: 90px;
  }

}

.about p {
  margin-bottom: 30px;
}

.about__heading {
  margin-bottom: 36px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.about__sub-heading {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: normal;
}

.about__get_started {
  margin-bottom: 10px;
  font-family: inherit;
  line-height: inherit;
}
